In [2]:
import os
import pandas as pd

In [8]:
# folder_path = '/home/youwombat/202205-House-Search/Large Datasets/'  # Replace with your folder path
folder_path = '/home/youwombat/202205-House-Search/Large Datasets/Cherrybrook free standing'  # Replace with your folder path
combined_data = pd.DataFrame()

for filename in os.listdir(folder_path):
    if filename.endswith('.csv'):
        file_path = os.path.join(folder_path, filename)
        df = pd.read_csv(file_path)  # Read each CSV file
        combined_data = pd.concat([combined_data, df], ignore_index=True)

In [9]:
combined_data

,ADDRESS,SALE PRICE,SALE DATE,AREA,STRATA/NON STRATA,MULTI-PROPERTY SALE (Y/N),PROPERTY NUMBER,DEALING NUMBER,EXTRACTION DATE
0,"5 MERRIWA PLACE, CHERRYBROOK NSW 2126",800000,16 July 2004,830.3,NON STRATA,No,656266,AA969454,16 July 2023
1,"5 MERRIWA PLACE, CHERRYBROOK NSW 2126",565000,1 February 2001,830.3,NON STRATA,No,656266,7555736,16 July 2023
2,"4 CANNAN CLOSE, CHERRYBROOK NSW 2126",1039000,8 February 2009,750.1,NON STRATA,No,632745,AE616815,16 July 2023
3,"4 CANNAN CLOSE, CHERRYBROOK NSW 2126",872000,13 August 2003,750.1,NON STRATA,No,632745,AA103671,16 July 2023
4,"72 DARLINGTON DRIVE, CHERRYBROOK NSW 2126",2080000,14 January 2023,796.4,NON STRATA,No,636947,AS855613,16 July 2023
...,...,...,...,...,...,...,...,...,...
26,"10 DARLINGTON DRIVE, CHERRYBROOK NSW 2126",1780000,22 April 2020,745.8,NON STRATA,No,636986,AQ147062,16 July 2023
27,"10 DARLINGTON DRIVE, CHERRYBROOK NSW 2126",892500,18 March 2012,745.8,NON STRATA,No,636986,AG940419,16 July 2023
28,"10 DARLINGTON DRIVE, CHERRYBROOK NSW 2126",717500,30 August 2002,745.8,NON STRATA,No,636986,9155329,16 July 2023
29,"3 CANNAN CLOSE, CHERRYBROOK NSW 2126",1138000,5 October 2011,810.8,NON STRATA,No,632727,AG674206,16 July 2023
30,"3 CANNAN CLOSE, CHERRYBROOK NSW 2126",1177500,20 May 2005,810.8,NON STRATA,No,632727,AB648818,16 July 2023

In [10]:
pd.options.display.max_rows = 15
combined_data['sale_dt'] = pd.to_datetime(combined_data['SALE DATE'])
df_max_dates = combined_data.sort_values('sale_dt').drop_duplicates('ADDRESS', keep='last')
df_min_dates = combined_data.sort_values('sale_dt').drop_duplicates('ADDRESS', keep='first')
df_max_dates
df_min_dates

df2 = df_min_dates.merge(df_max_dates, on='ADDRESS')
df2

,ADDRESS,SALE PRICE_x,SALE DATE_x,AREA_x,STRATA/NON STRATA_x,MULTI-PROPERTY SALE (Y/N)_x,PROPERTY NUMBER_x,DEALING NUMBER_x,EXTRACTION DATE_x,sale_dt_x,SALE PRICE_y,SALE DATE_y,AREA_y,STRATA/NON STRATA_y,MULTI-PROPERTY SALE (Y/N)_y,PROPERTY NUMBER_y,DEALING NUMBER_y,EXTRACTION DATE_y,sale_dt_y
0,"5 MERRIWA PLACE, CHERRYBROOK NSW 2126",565000,1 February 2001,830.3,NON STRATA,No,656266,7555736,16 July 2023,2001-02-01,800000,16 July 2004,830.3,NON STRATA,No,656266,AA969454,16 July 2023,2004-07-16
1,"20 CANNAN CLOSE, CHERRYBROOK NSW 2126",695000,18 September 2001,693.7,NON STRATA,No,632737,8157813,16 July 2023,2001-09-18,1910000,2 November 2015,693.7,NON STRATA,No,632737,AK180368,16 July 2023,2015-11-02
2,"17 CHISWICK PLACE, CHERRYBROOK NSW 2126",690000,9 December 2001,743.8,NON STRATA,No,634710,8413273,16 July 2023,2001-12-09,2875000,10 May 2022,743.8,NON STRATA,No,634710,AS234490,16 July 2023,2022-05-10
3,"3 BOWEN CLOSE, CHERRYBROOK NSW 2126",780000,8 April 2002,765.2,NON STRATA,No,630290,8981850,16 July 2023,2002-04-08,2480000,15 September 2022,765.2,NON STRATA,No,630290,AS627739,16 July 2023,2022-09-15
4,"10 DARLINGTON DRIVE, CHERRYBROOK NSW 2126",717500,30 August 2002,745.8,NON STRATA,No,636986,9155329,16 July 2023,2002-08-30,1780000,22 April 2020,745.8,NON STRATA,No,636986,AQ147062,16 July 2023,2020-04-22
5,"72 DARLINGTON DRIVE, CHERRYBROOK NSW 2126",730000,2 May 2003,796.4,NON STRATA,No,636947,9764851,16 July 2023,2003-05-02,2080000,14 January 2023,796.4,NON STRATA,No,636947,AS855613,16 July 2023,2023-01-14
6,"4 CANNAN CLOSE, CHERRYBROOK NSW 2126",872000,13 August 2003,750.1,NON STRATA,No,632745,AA103671,16 July 2023,2003-08-13,1039000,8 February 2009,750.1,NON STRATA,No,632745,AE616815,16 July 2023,2009-02-08
7,"3 CANNAN CLOSE, CHERRYBROOK NSW 2126",1177500,20 May 2005,810.8,NON STRATA,No,632727,AB648818,16 July 2023,2005-05-20,1138000,5 October 2011,810.8,NON STRATA,No,632727,AG674206,16 July 2023,2011-10-05
8,"2 CANNAN CLOSE, CHERRYBROOK NSW 2126",915000,9 August 2006,793.4,NON STRATA,No,632746,AC638051,16 July 2023,2006-08-09,1075000,17 October 2009,793.4,NON STRATA,No,632746,AF169200,16 July 2023,2009-10-17
9,"7 CANNAN CLOSE, CHERRYBROOK NSW 2126",940000,1 November 2006,802.3,NON STRATA,No,632729,AC844791,16 July 2023,2006-11-01,1140000,3 April 2012,802.3,NON STRATA,No,632729,AH185593,16 July 2023,2012-04-03
10,"10 BOWEN CLOSE, CHERRYBROOK NSW 2126",980000,17 April 2007,993.6,NON STRATA,No,630331,AD197280,16 July 2023,2007-04-17,1370000,26 January 2014,993.6,NON STRATA,No,630331,AI554236,16 July 2023,2014-01-26
11,"6 CANNAN CLOSE, CHERRYBROOK NSW 2126",1000000,3 November 2007,751.3,NON STRATA,No,632744,AD752766,16 July 2023,2007-11-03,2150000,3 May 2017,751.3,NON STRATA,No,632744,AM511727,16 July 2023,2017-05-03
12,"12 CANNAN CLOSE, CHERRYBROOK NSW 2126",1537000,15 November 2014,742.0,NON STRATA,No,632741,AJ233609,16 July 2023,2014-11-15,2000000,17 November 2017,742.0,NON STRATA,No,632741,AN29961,16 July 2023,2017-11-17

In [11]:
df2['years_diff'] = (df2['sale_dt_y'] - df2['sale_dt_x']).dt.days / 365.25
# nom_growth = (df2['SALE PRICE_y']/df2['SALE PRICE_x']-1)/df2['years_diff']
# nom_growth

df2['real_growth'] = (df2['SALE PRICE_y']/df2['SALE PRICE_x']).pow(1/df2['years_diff']) - 1
df2['max_sale_yr'] = df2['sale_dt_y'].dt.year
df2.groupby('max_sale_yr')['real_growth'].mean()
# df2.groupby('max_sale_yr')['years_diff'].mean()

max_sale_yr
2004    0.105985
2009    0.042121
2011   -0.005337
2012    0.036226
2014    0.050661
2015    0.074212
2017    0.087738
2020    0.052841
2022    0.065315
2023    0.054577
Name: real_growth, dtype: float64