In [8]:
import numpy as np 
import pandas as pd 
import os
#from chart_studio.plotly.offline import init_notebook_mode, iplot
import chart_studio.plotly.plotly as py
#import chart_studio.plotly.figure_factory as FF
import chart_studio.plotly.plotly as py
#from chart_studio.plotly import tools
import chart_studio.plotly.graph_objs as go
import matplotlib.pyplot as plt
import seaborn as sns
import folium
from folium.features import DivIcon
from folium.plugins import HeatMap
import warnings
import datetime
import squarify
warnings.filterwarnings("ignore")
init_notebook_mode(connected=True)

ImportError: cannot import name 'tools' from 'chart_studio.plotly' (/home/youwombat/miniconda3/lib/python3.9/site-packages/chart_studio/plotly/__init__.py)

In [2]:
from realestate_com_au import RealestateComAu

api = RealestateComAu()

# Get property listings
listings = api.search(locations=["seventeen seventy, qld 4677"], channel="buy", keywords=["tenant"], exclude_keywords=["pool"])

In [3]:
#listings = api.search(locations=["north rocks"], channel="sold",bedrooms=4, exclude_keywords=["pool"])

help(api.search)

Help on method search in module realestate_com_au.realestate_com_au:

search(limit=-1, channel='buy', locations=[], surrounding_suburbs=True, exclude_no_sale_price=False, furnished=False, pets_allowed=False, ex_under_contract=False, min_price=0, max_price=-1, min_bedrooms=0, max_bedrooms=-1, property_types=[], min_bathrooms=0, min_carspaces=0, min_land_size=0, construction_status=None, keywords=[], exclude_keywords=[]) method of realestate_com_au.realestate_com_au.RealestateComAu instance

In [32]:
#listings = api.search(locations=["north rocks"], channel="sold",min_bedrooms=3, max_bedrooms=4, exclude_keywords=["pool"])
#listings = api.search(locations=["north rocks"], channel="sold", exclude_keywords=["pool"])
listings = api.search(locations=["north rocks, nsw 2155"], channel="sold", exclude_keywords=["pool"])

In [14]:
import pandas as pd
df = pd.DataFrame(listings)
df.head(2)

,id,url,suburb,state,postcode,short_address,full_address,property_type,price,bedrooms,...,building_size_unit,land_size,land_size_unit,listing_company_id,listing_company_name,listing_company_phone,auction_date,sold_date,description,listers
0,138947531,https://www.realestate.com.au/sold/property-ho...,North Rocks,NSW,2151,30 Speers Road,"30 Speers Road, North Rocks, NSW 2151",house,1500000.0,4,...,None,1087.6,m²,STANOR,Stone Real Estate - Parramatta,0296308899,None,20 May 2022,"Superbly positioned four-bedroom family oasis,...","[{'id': '2453562', 'name': 'Ashton Beukers', '..."
1,139112471,https://www.realestate.com.au/sold/property-ho...,North Rocks,NSW,2151,9 Ebony Avenue,"9 Ebony Avenue, North Rocks, NSW 2151",house,1637000.0,3,...,None,-1.0,None,JIYHLG,Harcourts Exclusive,0298726111,None,17 May 2022,"When they say ""opportunity only knocks once"", ...","[{'id': '1202739', 'name': 'Andrew Magro', 'ag..."

In [29]:
#average(listings.bedrooms)
#average(listings.bedrooms)

df.describe()
#df.info()

              price    bedrooms   bathrooms  parking_spaces    land_size
count  6.070000e+02  700.000000  700.000000      700.000000   700.000000
mean   1.018253e+06    3.402857    1.821429        1.968571   448.561857
std    3.456966e+05    0.490823    0.603612        0.810613   406.400755
min    4.550000e+05    3.000000    1.000000        0.000000    -1.000000
25%    7.500000e+05    3.000000    1.000000        2.000000    -1.000000
50%    9.700000e+05    3.000000    2.000000        2.000000   695.000000
75%    1.238250e+06    4.000000    2.000000        2.000000   735.000000
max    2.407000e+06    4.000000    4.000000       10.000000  1842.000000

In [27]:
df["sold_date_dt"] = pd.to_datetime(df["sold_date"])
df["sold_date_dt"]

0     2022-05-20
1     2022-05-17
2     2022-05-14
3     2022-04-29
4     2022-04-14
         ...
695   2009-12-23
696   2009-12-18
697   2009-12-10
698   2009-11-10
699   2009-11-04
Name: sold_date_dt, Length: 700, dtype: datetime64[ns]

In [30]:
df.isnull().sum().sort_values(ascending=False)

auction_date             700
building_size            673
building_size_unit       673
land_size_unit           290
listing_company_phone    103
listing_company_name     103
listing_company_id       103
price                     93
short_address             24
full_address              24
land_size                  0
listers                    0
description                0
sold_date                  0
id                         0
url                        0
parking_spaces             0
bathrooms                  0
bedrooms                   0
property_type              0
postcode                   0
state                      0
suburb                     0
sold_date_dt               0
dtype: int64

In [33]:
df["postcode"].unique()

array(['2151', '2125'], dtype=object)

In [37]:
price = df["price"].values
# Histograms
overall_price_plot = go.Histogram(
    x=price,
    histnorm='count', 
    name='All Regions',
    marker=dict(
        color='#6E6E6E'
    )
)

NameError: name 'go' is not defined